   body {
    display: flex;
    height: 100vh;
    align-items: center;
  }
  aside{
    width: 150px !important;
  }
  .main {
    flex-grow: 1;
    padding: 8px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  main {
    background: white;
    border: 4px solid black;
    color: black;
    width: 100%;
  }
  header .website-logo {
    padding: 21px 0 13px 88px;
  }
  header h2 {
    background-color: rgb(224, 0, 0);
    font-size: 18px;
    color: white;
    padding: 3px 86px;
    text-align: left;
  }
  .contact-content {
    padding: 16px 35px 0 88px;
    font-size: 13px;
  }

  .form-container{
    display: flex;
    justify-content: center;
    margin-left: -122px;;
  }
  .form-container p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -1px;
  }
  .form-container p span{
    color:  rgb(240, 0, 0);
    font-size: 9px;
    font-weight: 600;
    position: relative;
    top: -2px;
  }
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  .form-row-bottom{
    align-items: start;
  }
  label {
    width: 87px;
    margin-right: 9px;
    font-family: Arial, Helvetica, sans-serif;
  }
  label span{
    color:  rgb(240, 0, 0);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  input {
    width: 177px;
    height: 21px;
    padding: 1px 2px;
  }
  textarea {
    width: 163px;
    height: 66px;
  }
  #postcode {
    width: 65px;
  }
  button{
    padding: 1px 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4px;
    margin-top: 5px;
  }
  .form-container .bottom-text{
    color:  rgb(240, 0, 0);
    margin-bottom: 16px;
    font-size: 13.4px;
    line-height: 16px;
    word-spacing: 1px;
  } 

  footer {
    padding-left: 88px;
  }
  footer h1 {
    margin: 0 0 12px -88px;
    text-align: center;
  }
  footer p {
    font-size: 9.4px;
    text-align: end;
    padding: 0 21px 12px 0;
    word-spacing: 0.4px;
    letter-spacing: 0.2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  footer p span {
    font-family: Helvetica;
  }
  footer p span a {
    color:black;
    font-family: Helvetica;
  }
  
  @media (min-width: 1400px) {
    body {
      display: flex;
      align-items: flex-start;
    }
    aside {
      margin-top: 0;
    }
    main {
      margin-top: auto;
      margin-bottom: auto;
    }
    .company-info {
      margin-top: 270px;
    }
  }
  