  body {
    display: flex;
    height: 100vh;
    align-items: center;
  }
  
  .main {
    flex-grow: 1;
    padding: 8px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  main {
    background: white;
    border: 4px solid black;
    color: black;
    width: 100%;
  }
  header .website-logo {
    padding: 21px 0 13px 88px;
  }
  header h2 {
    background-color: rgb(224, 0, 0);
    font-size: 18px;
    color: white;
    padding: 3px 86px;
    text-align: left;
  }
  .heritage-restorations-content {
    padding: 16px 35px 0 88px;
    font-size: 13px;
  }
  
  .heritage-introduction {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 15px;
  }
  .heritage-introduction .heritage-description p:nth-child(2){
    margin: 16px 0;
  }
  .heritage-image img{
    margin: 3px 12px;
  }
.heritage-profiles{
  padding-bottom:17px ;
}
  .heritage-profiles .heritage-profiles-title{
    color:  rgb(240, 0, 0);
  }
  .heritage-profiles-info p:nth-child(3){
    margin-top: 3px;
  }
  .heritage-profiles-list{
    display: flex;
    justify-content: space-between;
  }
  
  .heritage-profiles-list img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 18px 0 0 0;
  }
  .heritage-profiles-list ul{
    margin-left: 85px;
    list-style: none;
  }

  @media (max-width:1048px){
    .heritage-profiles-list ul{
      margin-left:33.5px ;
    }
  }

  .heritage-profiles-list ul li {
    position: relative;
    font-size: 13px;
  }
  .heritage-profiles-list ul li::before {
    content: "•";
    font-size: 10px;
    color:  #A00000;
    position: absolute;
    left: -9.2px;
    top: 50%;
    transform: translateY(-50%);
  }
  .heritage-additional-image {
    display: flex;
    justify-content: center;
  }
  .heritage-additional-image img{
    margin-left: -45px;
  }

  @media (max-width:1048px){
    .heritage-additional-image img{
      margin-left:-124px ;
    }
  }

  .heritage-bottom-description{    
    margin:16px 0 34px -48px;
    display: flex;
    justify-content: center;
  }  
  .heritage-bottom-description p{
    width: 546px;
    border: 2px solid #595959;
    padding: 6px 10px;
    color:  rgb(240, 0, 0);
    text-align: center;
  }

  footer {
    padding-left: 88px;
  }
  footer h1 {
    margin: 0 0 12px -88px;
    text-align: center;
  }
  footer p {
    font-size: 9.4px;
    text-align: end;
    padding: 0 21px 12px 0;
    word-spacing: 0.4px;
    letter-spacing: 0.2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  footer p span {
    font-family: Helvetica;
  }
  footer p span a {
    color: rgb(240, 0, 0);
    font-family: Helvetica;
  }
  
  @media (min-width: 1400px) {
    body {
      display: flex;
      align-items: flex-start;
    }
    aside {
      margin-top: 0;
    }
    main {
      margin-top: auto;
      margin-bottom: auto;
    }
    .company-info {
      margin-top: 270px;
    }
  }
  