body {
  display: flex;
  height: 100vh;
  align-items: center;
}

aside {
  width: 150px !important;
}

.main {
  flex-grow: 1;
  padding: 8px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
main {
  background: white;
  border: 4px solid black;
  color: black;
  width: 100%;
}
header .website-logo {
  padding: 21px 0 13px 88px;
}
header h2 {
  background-color: rgb(224, 0, 0);
  font-size: 18px;
  color: white;
  padding: 3px 86px;
  text-align: left;
}
.gallery {
  padding: 34px 0 0 35px;
  font-size: 13px;
}

.gallery .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-left: 16px;
}

.column {
  display: flex;
  justify-content: center;
  gap: 18px;
  align-items: center;
}
.column1 {
  margin-bottom: 57px;
}
.column2 {
  gap: 10px;
  margin-bottom: 5px;
}
.row3, .row4 {
  margin-bottom: 36px;
}
.column3, .column4 {
  margin-bottom: 41px;
}
.column5 {
  margin-bottom: 39px;
}
.column6 {
  margin-bottom: 38px;
}
footer {
  padding-left: 53px;
}
footer h1 {
  margin: 0 0 12px -88px;
  text-align: center;
}
footer p {
  font-size: 9.4px;
  text-align: end;
  padding: 0 21px 12px 0;
  word-spacing: 0.4px;
  letter-spacing: 0.2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
footer p span {
  font-family: Helvetica;
}
footer p span a {
  color: black;
  font-family: Helvetica;
}

@media (min-width: 1400px) {
  body {
    display: flex;
    align-items: flex-start;
  }
  aside {
    margin-top: 0;
  }
  main {
    margin-top: auto;
    margin-bottom: auto;
  }
  .company-info {
    margin-top: 270px;
  }
}
